.div-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 /* #table {
 background-image: url('../docs/assets/images/table__3-removebg-preview.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: 950px 550px;
} */ 

#startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}