body {
    background-color: red ;
}

.div-canvas {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

 /*  #table {
 background-image: url('../docs/assets/images/table__3-removebg-preview.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: 950px 550px;
 background-color: transparent;
} */ 

.button {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

#easy-btn, 
#med-btn, 
#hard-btn {
    background-color: yellow;
    color: red;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px ;
}

#stop-btn {
    background-color: red;
    color: yellow;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 30px;
}

#reset-btn {
    background-color: red;
    color: yellow;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 30px;
}

